#autofill-wizard {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #cadbf2;
    border-bottom: 1px solid #b6bac0;
    box-shadow: 0 2px 4px #333;
    cursor: default;
    display: block;
    font-size: medium;
    overflow: hidden;
    text-align: left;
    transform: translate3d(0, -150%, 0);
    transition: transform .3s;
    -webkit-user-select: none;
    z-index: 9999999999
}

#autofill-wizard * {
    min-width: 0 !important;
    min-height: 0 !important;
    max-width: 100% !important;
    max-height: 100% !important
}

#autofill-wizard a,
#autofill-wizard button,
#autofill-wizard select,
#autofill-wizard span {
    box-shadow: none !important;
    color: #000 !important;
    cursor: default !important;
    display: inline !important;
    letter-spacing: normal !important;
    line-height: 1 !important;
    margin: 0 !important;
    text-align: -webkit-auto !important;
    text-decoration: none !important;
    text-indent: 0 !important;
    text-shadow: none !important;
    text-transform: none !important;
    word-spacing: normal !important;
    vertical-align: baseline !important
}

#autofill-wizard a {
    position: absolute !important;
    top: 0 !important;
    bottom: auto !important;
    left: auto !important;
    right: 0 !important;
    width: 16px !important;
    height: 16px !important;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAOVBMVEX///8FBQUGBgYDAwMDAwMDAwMGBgYGBgYFBQUAAAAFBQUAAAAEBAQDAwMDAwMDAwMDAwMDAwMAAABMcPQTAAAAE3RSTlMACwsPERIzNzk9PUZGSUxNT1dZm90FQAAAAFlJREFUGFedjEsOwCAIRFWoUvx7/8NWTLHdtrMgeS/DGPMvA+UeY3NLMLnXeAtMxIC9sNUKcOCc2SkvQ/Rig5m83w+yJ4Lg4cLOUmA1o8re3Dm1Etc7bP6YC1LBAmMNPdFwAAAAAElFTkSuQmCC) no-repeat !important;
    font: inherit !important;
    margin: 10px 6px !important;
    padding: 0 !important
}

#autofill-wizard a:hover {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAQlBMVEX///////////97e3t5eXlqampoaGhnZ2dgYGBcXFwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAuQipPAAAAFnRSTlMAIDZPUFtdXmVpgIiMlqivtri60NLWYRh4wAAAAGlJREFUGNONTkkSgCAMs4gs0gBu//+qZRyq40VzSdvJ0mH4AzL0IBniEUhJYI41e6K4L9lcipAZLmwVtns8EkrBSJrqkJjvXUyF59negri1A09au1eMlhNcr10kjyZJ1tpml2Stfb3+gRPyMAOM6OD34wAAAABJRU5ErkJggg==) no-repeat !important
}

#autofill-wizard a:active {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAADFBMVEUAAAD///8AAAAAAADI23cLAAAABHRSTlMAAD7MYITzfAAAADJJREFUCNdjCAUCBgQR9oB7KkP4D/2rDGH/9k9lCNn/T5QhRP8HjABxwRIQJSDFqAYAAIjXHQebFIiyAAAAAElFTkSuQmCC) no-repeat !important
}

#autofill-wizard button,
#autofill-wizard select {
    width: auto !important;
    height: 24px !important;
    background: #e3ecf7 !important;
    background: linear-gradient(#f4f8fd, #e3ecf7 40%, #ccdbef) !important;
    border: 1px solid #778290 !important;
    border-radius: 3px !important;
    font: -webkit-small-control !important;
    padding: 0 .5em !important
}

#autofill-wizard button:hover,
#autofill-wizard select:hover {
    border: 1px solid #3b4148 !important
}

#autofill-wizard button:active,
#autofill-wizard select:active {
    background: linear-gradient(#dfeaf8, #e3ecf7 40%, #edf2fa) !important
}

#autofill-wizard button {
    -webkit-appearance: button !important
}

#autofill-wizard img {
    width: 24px !important;
    height: 24px !important;
    border: none !important;
    margin: 6px 12px !important;
    vertical-align: top !important
}

#autofill-wizard select {
    -webkit-appearance: menulist !important
}

#autofill-wizard span {
    height: 36px !important;
    display: inline-block !important;
    font: normal 90% Tahoma, sans-serif !important;
    margin-right: 10px !important;
    white-space: nowrap !important
}

#autofill-wizard span>b {
    position: relative !important;
    top: 2px !important;
    color: #369 !important;
    font-size: 21px !important;
    font-weight: normal !important
}

#autofill-wizard table {
    width: calc(100% - 28px) !important;
    background: none !important;
    border: 0 !important;
    border-collapse: collapse !important;
    margin: 0 !important
}

#autofill-wizard table td {
    padding: 0 !important;
    vertical-align: top !important
}

#autofill-wizard table td:first-child {
    width: 48px !important;
    min-width: 48px !important
}

#autofill-wizard u {
    color: inherit !important;
    font-style: normal !important;
    font-weight: normal !important;
    text-decoration: underline !important
}

#autofill-wizard .menu-action {
    color: #369 !important;
    font-weight: bold !important
}

#autofill-wizard-status {
    float: none !important;
    font: bold 90% Tahoma, sans-serif !important;
    line-height: 36px !important;
    white-space: nowrap !important
}

#autofill-wizard-status.success {
    color: #090 !important
}

#autofill-wizard-status.warning {
    color: #900 !important
}